<!-- Counters-->
<section class="module bg-gray p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="counter">
          <div class="counter-icon"><span class="icon-energy icons"></span></div>
          <div class="counter-number">
            <h6><strong class="counter-timer" data-from="0" data-to="1538">0</strong></h6>
          </div>
          <div class="counter-title">Happy Clients</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <div class="counter-icon"><span class="icon-game-controller icons"></span></div>
          <div class="counter-number">
            <h6><strong class="counter-timer" data-from="0" data-to="2124">0</strong></h6>
          </div>
          <div class="counter-title">Total downloads</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <div class="counter-icon"><span class="icon-fire icons"></span></div>
          <div class="counter-number">
            <h6><strong class="counter-timer" data-from="0" data-to="3128">0</strong></h6>
          </div>
          <div class="counter-title">Awards Won</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <div class="counter-icon"><span class="icon-diamond icons"></span></div>
          <div class="counter-number">
            <h6><strong class="counter-timer" data-from="0" data-to="9534">0</strong></h6>
          </div>
          <div class="counter-title">Theme Users</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counters end-->
