<!-- Hero-->
<section class="module-cover parallax text-center fullscreen" data-background="assets/images/module-2.jpg" data-overlay="0.6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="m-b-20"><strong>Your customers will love you <br> one minute from now.</strong></h1>
        <p class="m-b-40">See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.</p>
        <p><a class="btn btn-lg btn-circle btn-brand" href="#">Get Started</a><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Learn More</a></p>
      </div>
    </div>
  </div>
</section>
<!-- Hero end-->
