<!-- Posts-->
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Latest articles.</h1>
        <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="space" data-MY="60px"></div>
      </div>
    </div>
    <div class="row row-post-masonry">
      <div class="col-md-4 post-item">
        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/1.jpg" alt=""></a></div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">Bluetooth Speaker</a></h2>
            </div>
            <div class="post-content">
              <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </article>
        <!-- Post end-->
      </div>
      <div class="col-md-4 post-item">
        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/3.jpg" alt=""></a></div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">Minimalist Chandelier</a></h2>
            </div>
            <div class="post-content">
              <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </article>
        <!-- Post end-->
      </div>
      <div class="col-md-4 post-item">
        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/5.jpg" alt=""></a></div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">Standard Shape</a></h2>
            </div>
            <div class="post-content">
              <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </article>
        <!-- Post end-->
      </div>
    </div>
  </div>
</section>
<!-- Posts end-->
