<!-- Services-->
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-layout"></span></div>
          <div class="icon-box-title">
            <h6>Visual Composer</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-image"></span></div>
          <div class="icon-box-title">
            <h6>Revolution Slider</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-archive"></span></div>
          <div class="icon-box-title">
            <h6>User Experience</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-headphone-alt"></span></div>
          <div class="icon-box-title">
            <h6>Great Support</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-desktop"></span></div>
          <div class="icon-box-title">
            <h6>Fully Responsive</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="ti-slice"></span></div>
          <div class="icon-box-title">
            <h6>Trendy Design</h6>
          </div>
          <div class="icon-box-content">
            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services end-->
