<!-- Header-->
<header class="header header-transparent">
  <div class="container-fluid">
    <!-- Brand-->
    <div class="inner-header"><a class="inner-brand" href="{{- '/' | relative_url -}}">{{- site.title -}}</a></div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-nav">
        <ul>
          <li>
            <a href="{{- '/' | relative_url -}}"><span class="menu-item-span">Home</span></a>
          </li>
          <li>
            <a href="{{- '/services' | relative_url -}}"><span class="menu-item-span">Services</span></a>
          </li>
          <li>
            <a href="{{- '/contact' | relative_url -}}"><span class="menu-item-span">Contact</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="extra-nav">
      <ul>
        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
      </ul>
    </div>
  </div>
</header>
<!-- Header end-->
